.vitalButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    flex: 1;
    flex-wrap: wrap;
    flex-direction: row;
}

.vitalBTN {
    display: flex;
    justify-content: center;
    margin: 0px 10px;
    align-items: center;
    background-color: #fff28b;
    width: 100px;
    height: 60px;
    outline: none;
    border-style: none;
}

.vitalBTNspace {
    display: flex;
    justify-content: center;
    margin: 0px 10px;
    align-items: center;
    background-color: #fff28b;
    width: 200px;
    height: 60px;
    outline: none;
    border-style: none;
}